
<div class="footer">
  <div class="content">
    <div class="heading">
      <img style="margin-bottom: 20px; margin-right:50px" src="../../assets/landing3.png" height="220px" width="200px" alt="" routerLink="/">
    </div>

    <div class="about">
      <h4>About our app</h4>
      <p><a href="#">Who we are</a></p>
      <p><a href="#">Blog</a></p>
      <p><a href="#">Work with us</a></p>
      <p><a href="#">Report fraud</a></p>
      <p><a href="#">Careers</a></p>
      <p><a href="#">Team</a></p>
    </div>
  
    <div class="about">
      <h4>We deliver to</h4>
      <p><a href="#">Bangalore</a></p>
      <p><a href="#">Gwalior</a></p>
      <p><a href="#">Hyderabad</a></p>
      <p><a href="#">Delhi</a></p>
      <p><a href="#">Mumbai</a></p>
      <p><a href="#">Noida</a></p>
    </div>

    <div class="about">
      <h4>For restaurants</h4>
      <p><a href="#">Partner with us</a></p>
      <p><a href="#">Apps for you</a></p>
      <p>
        <a href="#" style="color: rgb(255, 255, 255); text-decoration: none;" routerLink="/admin-login"
          onmouseover="this.style.color='yellow'" onmouseout="this.style.color='white'">
          Restaurant Login
        </a>
      </p>
    </div>

    <div class="about">
      <h4>Contact us</h4>
      <p><a href="#">Help & Support</a></p>
      <p><a href="#">Partner with us</a></p>
      <p><a href="#">Ride with us</a></p>
    </div>
    
    <div class="about">
      <h4>Learn more</h4>
      <p><a href="#">Privacy</a></p>
      <p><a href="#">Security</a></p>
      <p><a href="#">Terms</a></p>
      <p><a href="#">Sitemap</a></p>
    </div>
  </div>

  <div style="font-size: medium;" class="custom-footer">
    <hr />
    <p>By continuing past this page, you agree to our
    <a href="#">Terms of Service</a>,
    <a href="#">Cookie Policy</a>,
    <a href="#">Privacy Policy</a>,
    and <a href="#">Content Policies</a>. All trademarks are properties of their respective owners.
    2023 © FoodiesHub™ Ltd. All rights reserved.</p>
  </div>
</div>