
<div id="displayer">
    <div id="header" style="display: flex; height: 50px; margin-top:50px;">
        <div class="heading" style="font-family: 'Darker Grotesque', sans-serif; margin-left: 10px; font-size: 32px; font-weight: bold; line-height: 50px;">Best offers for you</div>
        <div style="margin-left: auto; cursor: pointer;" (click)="closeComponent()">
            <!-- <span style="font-size: 24px;">✖</span> -->
        </div>
    </div>
    <div id="pics" class="card-container" style="display:inline-block">
        <div class="images"><img  src="../../assets/1.avif" alt=""></div>
        <div class="images"><img  src="../../assets/4.avif" alt=""></div>
        <div class="images"><img  src="../../assets/7.avif" alt=""></div>
        <div class="images"><img  src="../../assets/3.avif" alt=""></div>
        <div class="images"><img  src="../../assets/9.avif" alt=""></div>
        <div class="images"><img  src="../../assets/6.avif" alt=""></div>
        <div class="images"><img  src="../../assets/8.avif" alt=""></div>
    </div>
</div>
