<div class="container" style="max-width: 1200px;margin-left:80px">
    <h1 style="text-align: center;font-family:darker grotesque;font-size:24px;font-weight:bold">Accounts Page<mat-icon style="margin-top:3px">lock</mat-icon></h1>
    <button mat-icon-button style="position: fixed; top: 10px; right: 10px; color: white; background-color: #250e1e;" routerLink="/" matTooltip="Back to Home">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <table mat-table [dataSource]="accounts" class="mat-elevation-z8" style="border:1px transparent white;border-radius: 15px;">
  
      
  <ng-container matColumnDef="emailId">
        <th mat-header-cell *matHeaderCellDef style="background-color:rgba(3, 3, 139, 0.425); color: white;font-family:darker grotesque;font-size:23px;font-weight:bold">Email</th>
        <td style="font-family:darker grotesque;font-size:19px;font-weight:bold" mat-cell *matCellDef="let account">{{ account.emailId }}</td>
    </ng-container>
  
   
   <!-- <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef style="background-color:rgba(3, 3, 139, 0.425); color: white;">Password</th>
        <td mat-cell *matCellDef="let account">{{ account.password }}</td>
    </ng-container> -->
  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef style="background-color:rgb(1, 34, 94); color: white;font-family:darker grotesque;font-size:23px;font-weight:bold">Name</th>
    <td style="font-family:darker grotesque;font-size:19px;font-weight:bold" mat-cell *matCellDef="let account">{{ account.name }}</td>
  </ng-container>
  
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef style="background-color:rgb(1, 34, 94); color: white;font-family:darker grotesque;font-size:23px;font-weight:bold">City</th>
    <td style="font-family:darker grotesque;font-size:19px;font-weight:bold" mat-cell *matCellDef="let account">{{ account.city }}</td>
  </ng-container>
  
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef style="background-color:rgb(1, 34, 94); color: white;font-family:darker grotesque;font-size:23px;font-weight:bold">State</th>
    <td style="font-family:darker grotesque;font-size:19px;font-weight:bold" mat-cell *matCellDef="let account">{{ account.state }}</td>
  </ng-container>
  
  <ng-container matColumnDef="zipCode">
    <th mat-header-cell *matHeaderCellDef style="background-color:rgb(1, 34, 94); color: white;font-family:darker grotesque;font-size:23px;font-weight:bold">Zip Code</th>
    <td style="font-family:darker grotesque;font-size:19px;font-weight:bold" mat-cell *matCellDef="let account">{{ account.zipCode }}</td>
  </ng-container>
  
  <ng-container matColumnDef="fullAddress">
    <th mat-header-cell *matHeaderCellDef style="background-color:rgb(1, 34, 94); color: white;font-family:darker grotesque;font-size:23px;font-weight:bold">Full Address</th>
    <td style="font-family:darker grotesque;font-size:19px;font-weight:bold" mat-cell *matCellDef="let account">{{ account.fullAddress }}</td>
  </ng-container>
  
  <ng-container matColumnDef="mobileNumber">
    <th mat-header-cell *matHeaderCellDef style="background-color:rgb(1, 34, 94); color: white;font-family:darker grotesque;font-size:23px;font-weight:bold">Mobile Number</th>
    <td style="font-family:darker grotesque;font-size:19px;font-weight:bold" mat-cell *matCellDef="let account">{{ account.mobileNumber }}</td>
  </ng-container>
  
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="background-color: rgb(245, 160, 3); color: white;">Actions</th>
    <td mat-cell *matCellDef="let account">
      <button mat-icon-button (click)="deleteAccount(account.emailId)">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </td>
  </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>